@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Sundanese:700|Noto%20Sans%20Sundanese:400');

body {
  font-family: 'Noto Sans Sundanese';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Sundanese';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

html, body {
    overflow: hidden;
  }
body {
  font-size: 1.2em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffd1dc;
}
.heart{
  --size: 200px;
  --color: red;
  transform:rotate(45deg);
  animation:beat 1s infinite alternate ease-in-out;
  margin: 0 auto;
  position: relative;
}
@keyframes beat{
  to{
    transform: rotate(45deg) scale(1.05);
  }
}

.heart,
.heart::before,
.heart::after{
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    background:var(--color);
}
.heart::before,
.heart::after{
  content:'';
  display: block;
  border-radius:50%;
}
.heart::before{
  margin-top: calc(var(--size)*-.5);
 
}
.heart::after{
  margin-top: calc(var(--size)* -0.5);
  margin-left: calc(var(--size)* -0.5);
}

.presióname{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.heart, .presióname {
    position: relative;
    z-index: 2; /* Asegura que estos elementos estén sobre #ventanas */
  }

@keyframes aparecerYRotar {
    from {
      transform: scale(0.5) rotate(0deg);
      opacity: 0;
    }
    to {
      transform: scale(1) rotate(360deg);
      opacity: 1;
    }
  }
  
  .ventanas {
    position: fixed; /* O usa 'absolute' si prefieres */
    top: 0;
    left: 0;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% del alto de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura una alta prioridad en el orden de apilamiento */
    pointer-events: none; /* Los clics no afectarán este elemento */
  }

  .ventana {
    width: 200px; /* Mantén un ancho fijo o ajusta según necesites */
    min-height: 100px; /* Opcional: altura mínima para asegurar una altura mínima para ventanas con poco contenido */
    border: 1px solid black;
    background-color: white;
    position: absolute; /* Posicionamiento necesario para 'z-index' */
    z-index: 1001; /* Asegura que las ventanas estén por encima de otros elementos si es necesario */
    display: inline-block; /* Permite que el tamaño se ajuste al contenido */
    padding: 10px; /* Añade algo de espacio alrededor del contenido */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total 
    */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    animation: aparecerYRotar 2s ease-out;
    pointer-events: auto; /* Restaura los eventos de clic para las ventanas */
  }

  .corazon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    animation: explosion 1s ease-out forwards;
  }
  
  .corazon::before,
  .corazon::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
  }
  
  .corazon::before {
    left: -15px;
  }
  
  .corazon::after {
    left: 15px;
    top: -15px;
  }
  
  @keyframes explosion {
    0% {
      transform: scale(0.5) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(1.5) translateY(-50px);
      opacity: 0;
    }
  }

  

  @media (max-width: 768px) {
    body {
        font-size: 1em; /* Ajustar el tamaño del texto base para móviles */
      }
    
      .presióname {
        font-size: 1em; /* Ajustar el tamaño del texto para el mensaje "¡Presiona el Corazón!" */
        margin-top: 35px; /* Ajustar el margen superior */
      }
    
      .corazon, .corazon::before, .corazon::after {
        --size: 100px;
      }

      
        /* Asegúrate de ajustar también otros elementos si es necesario */
        .heart, .heart::before, .heart::after {
          --size: 150px; /* Tamaño más pequeño para el corazón en dispositivos móviles */
        }
      
        .ventana {
          width: 150px; /* Ventanas más pequeñas en dispositivos móviles */
          min-height: 50px; /* Altura mínima ajustada para dispositivos móviles */
          font-size: 0.8em; /* Texto más pequeño en las ventanas */
        }
      
      }